*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header
{
    background-color: #D70018;
}
#headerBox
{
    width: 1300px;
    height: 55px;
    margin: auto;
    display: flex;
}
.logo
{
    width: 20%;
    height: 100%;
    padding: 5px 0;
}
.logo img
{
    width: 100%;
    height: 100%; 
}
.searchBox
{
    width: 40%;
    height: 100%;
    padding: 10px 0;
    text-align: right;
    position: relative;
}
.searchBox input
{
width: 370px;
height: 35px;
margin-right: 50px;
border-radius: 10px;
border: none;
padding: 7px;
padding-right: 35px;
font-size: 18px;

}
.topsearch
{
    font-size: 35px;
    position: absolute;
    top: 14     px;
    right: 50px;
}
.bx
{
    font-size: 30px;
}
.headerNavbar
{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}
.headerNavbar div:nth-of-type(1)
{
flex-grow: 1;
text-align: center;
color: white;
}
.headerNavbar div:nth-of-type(2)
{
flex-grow: 1;
text-align: center;
color: white;
}
.headerNavbar div:nth-of-type(3)
{
flex-grow: 1;
text-align: center;
color: white;
}
.headerNavbar div:nth-of-type(4)
{
flex-grow: 1;
text-align: center;
color: white;
}

.navBox
{
    width: 1300px;
    /* background-color: goldenrod; */
    margin: auto;
    display: flex;
}
.NavMenu
{
    width: 18%;
    /* background-color: blueviolet; */
    padding: 10px;
}
.NavMenu ul
{
    list-style: none;
}
.NavMenu li
{
    padding: 10px 10px;
    /* border-bottom: 2px solid gray; */
}

.slideNav
{
    width: 60%;
    height: 300px;
    /* background-color: aquamarine; */
}
/* =================================================================================== */
#main
{
    width: 1300px;
    /* height: 500px; */
    /* background-color: gold; */
    display: flex;
    margin: auto;

}
#main-left
{
    width: 18%;
    height: 500px;
    /* background-color: rgb(59, 17, 214); */
}
#main-right
{
    width: 80%;
    /* height: 500px; */
    background-color: #f4f6f8;
}
#mr-header
{
    height:70px;
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.bxs-plus-square
{
    font-size: 50px;
    color: #bab8b8;
}
.bxs-plus-square:hover
{
    font-size: 50px;
    color: #2686D0;
}
#mr-main
{
    /* height:400px; */
    /* border: 1px solid gray; */
    padding-left: 20px;
}
.main-list
{
    /* height:390px; */
    width: 98.5%;
    background-color: #FFFFFF;
}
.mr-action
{
    height:40px;
    padding-top: 10px;
    border-bottom: 1px solid #E6E9E8;
}
.mr-action span
{
    border-bottom: 3px solid #2686D0;
    padding: 8px 0;
    margin-left: 10px;
}
.mr-search
{
    height: 30px;
    width: 96%;
    background-color: #ccc;
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    position: relative;
}
.mr-search span
{
    font-size: 18px;
}
.mr-filter
{
    background-color: #eaedf0;
    width: 16%;
    padding-left: 10px;
    padding-top: 4px;
}
.mr-search input
{
    font-size: 18px;
    width: 84%;
    height: 30px;
    padding-left: 25px;
    background-color: #eaedf0;
    border: 2px solid #ccc;
}
.searchproduct
{
    position: absolute;
    top: 4px;
    left: 158px;
    font-size: 25px;
    color: #80827D;
}
.mr-render
{
    /* height: 300px; */
    /* background-color: #ccc; */
    padding: 20px;
    position: relative;
}
#mr-tableRender
{
    width: 100%;
    border-collapse: collapse;
}
#mr-tableRender th
{
    font-size: 18px;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #E6E9E8;
}
#mr-tableRender td
{
text-align: left;
padding-left: 10px;
font-size: 18px;
border-bottom: 1px solid #E6E9E8;
}
#mr-tableRender tr:first-child
{
    box-shadow: 1px 2px 2px 1px #E6E9E8;
}
#mr-tableRender tr:hover
{
    box-shadow: 1px 2px 2px 3px #E6E9E8;
}
#mr-tableRender td:first-child
{
    width: 5%;
    text-align: center;
}
#mr-tableRender td:nth-child(2)
{
    width: 10%;
    text-align: center;
    
}
#mr-tableRender td:nth-child(3)
{
    width: 10%;
    text-align: center;
    
}
#mr-tableRender td:nth-child(5)
{
    width: 20%;
    
}
#mr-tableRender td:last-child
{
    width: 20%;
    text-align: center;
}

#mr-tableRender img
{
    width: 80px;
    height: 90px;

}
#mr-tableRender button
{
    font-size: 20px;
    width: 70px;
    height: 30px; 
    border: none;
}
#mr-tableRender button:hover
{
    background-color: #006CFA;
    color: #FFFFFF;
}
#mr-tableRender button:last-child:hover
{
    background-color: #fa0000;
    color: #FFFFFF;
}
/* ====edit form==== */
#mr-updateform
{
    display: none;
    height: 500px;
    width: 900px;
    background-color: #F9FAFA;
    position: absolute;
    top: 80px;
    right: 50px;
    padding: 20px;
    box-shadow: 1px 2px 5px 5px #cecfcf;
}
.mr-form
{
    width: 100%;
    height: 100%;
    background-color: white;
    
}
.mr-formTitle
{
padding : 15px;
background-color: #F4F6F8;
}
.mr-formTitle h3
{
    font-size: 22px;
}
.mrf-table
{
    padding: 5px 15px;
}
.mrf-table table
{
    width: 100%;
    font-size: 18px;
}
.mrf-table td 
{
padding: 5px;
}
.mrf-table td:first
{
    width: 30%;
}

.mrf-table td:nth-child(2)
{
    width: 25%;
    text-align: left;
}
.mrf-table td:last-child
{
    width: 45%;
}
.mrf-table input
{
    width: 100%;
    height: 30px;
    font-size: 18px;
    padding: 0 5px;
}
.mrf-table textarea 
{
    width: 100%;
    height: 100px;
    font-size: 18px;
    padding: 0 5px;
    resize: none;
}
.printImage
{
height:100%;
width: 100%;
}
.mrf-table img
{
    width: 100%;
    height: 100%;
}

.mrf-button
{
    padding: 10px;
text-align: center;
}
.mrf-button input[type="button"]
{
    width: 100px;
    height: 50px;
    font-size: 18px;
}
.mrf-button input[type="submit"]
{
    width: 100px;
    height: 50px;
    font-size: 18px;
}